.users {
    
    background-color: #fbf8f1;
    padding: 5em 1em;
    
  }
  
  .users ul {
    list-style: none;
    text-align: center;
    
  }
  
  .users li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 5px 15px;
    border-radius: 5px;
    width: 250px;
  }